
<div class="paragraph-slider-item-wrapper p-2">
  <div class="slider-item-img">
    {{ content.field_image }}
  </div>
  <div class="slider-item-info">
    <h4>{{ content.field_heading }}</h4>
    {{ content.field_summary }}
  </div>
</div>
