
{{ attach_library('yucon/slider') }}

<section id='paragraph-slider' class="">
     <div class="">
        <div class="slider-header px-4">
            <h2>{{ content.field_section_title }}</h2>
        </div>
        <div class="row">
            {{ content.field_slider_item }}
        </div>
        <div class="slider-footer px-4">
            <h2>{{ content.field_tagline }}</h2>
        </div>
    </div>
</section>

