html {
  scroll-behavior: smooth;
}

body {
  font-size: $body-text;
  font-family: "Lato", sans-serif;
  background: $light-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4,
h5,
h6 {
  font-size: $hx;
}

.icon-lg {
  i {
    font-size: 35px;
    color: $blue;
  }
}

// .swiper {
//   width: 600px;
//   height: 300px;
// }