.user-login-form {
    display: inline-block;

    .form-item {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    input {
        height: 50px;
    }

    .button {
        color: $white;
        border: 0;
        padding: 10px 0;
        background: $blue;
        width: 200px;
    }
}