
<div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
        <h3>{{ content.field_job_year }}</h3>
        <p>{{ content.field_job_text }}</p>
    </div>
</div>

  