<section>
    <h2 class="py-5 text-center section-title text-blue">{{ content.field_heading }}</h2>
    <div class="time-line-container container-xxl">
        {{ content.field_components }}
    </div>
</section>