<footer id="footer" class="footer">
    <div class="container-xxl px-4">
        <div class="footer-content d-flex">
            <div class="d-flex m-3">
                {{ drupal_menu('footer') }}
            </div>
 
            <div class="d-flex m-3">
                <div class="copyright">
                  © Copyright <strong><span>yucon</span></strong>. All Rights Reserved
                </div>
            </div>

            <div class="d-flex footer-links m-3">
                <div class="social-links d-flex ml-auto">
                    <a href="https://www.linkedin.com/in/thomas-weber-z%C3%BCrich/" aria-label="Go to facebook"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/thomas-weber-z%C3%BCrich/" aria-label="Go to instagram"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/thomas-weber-z%C3%BCrich/" aria-label="Go to twitter"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


