  <div style="margin-top:30px;" class="login-wrapper container">
    <a href="{{ path('<front>') }}" class="logo d-flex flex-grow-1">
      <img src="/yucon/themes/custom/yucon/images/yucon_logo_small.png" alt ="Yucon Logo"/>
    </a>
    {{ page.pre_content }}
    <main class="mt-5" role="main">
      <div class="container">
        <div class="row login-form">
          {{ page.content }}
        </div>
      </div>
    </main>
  </div>
