
{% include '@yucon/partials/header.html.twig' %}
  <main role="main">
    <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
    {{ page.content }}
  </main>
{% include '@yucon/partials/footer.html.twig' %}

