@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//Colors
$blue: #2b719f;
$light-blue: #56b8e6;
$light-blue-2: #6F9EBE;
$dark-blue: #040B10;
$dark-blue-2: #2B719F;
$button-hover: #163B53;
$light-grey: #f7f9fc;
$dark-grey: #9A9A9A;
$white: #FFFEF9;
$white-2: #FAFAFA;
$black: #000;
$orange: #FFA500;
$dark-orange: #a5751c;
//Fonts and sizes
// Headings: Roboto
// Body Texts: Lato
$main-font: "Roboto";

$h1: 32px;
$h2: 28px;
$h3: 22px;
$hx: 16px;

$body-text: 16px;
$medium-text: 14px;
$small-text: 12px;

