<section id='#services' class="grid-card">
     <div class="px-4">
        {% if content.field_heading|render %}
            <div class="section-header">
                <h2 class="section-title">{{content.field_heading}}</h2>
            </div>
        {% endif %}

        <div class="cards-wrapper">
            {{ content|without('field_heading') }}
        </div>
    </div>
</section>

