<div class="layout-container d-flex">
  <header role="banner">
    <img src="/yucon/themes/custom/yucon/images/yucon_logo_small.png" />
  </header>

   <main role="main" class="main-content">
    <div class="content">
      {{ page.content }}
    </div>
  </main>
</div>
